.logo img {
  height: 80px;
  width: 80px;
  border: 1px;
  border-radius: 100%;
}

@media only screen and (max-width: 480px) {
  .logo img {
    height: 50px;
    width: 50px;
    border: 1px;
    border-radius: 100%;
    /* position: relative;
    right: 300px; */
  }
}
