.class img {
  height: 300px;
  width: 250px;
}

.popularClass {
  margin-top: 0;
}

@media only screen and (max-width: 480px) {
  .class img {
    height: 100px;
  }
  .cardRes {
    /* margin-right: 28px; */
  }
}
